login.sh
datasets/

hugging_face_token.py

model/
outputs/
unsloth_compiled_cache/
__pycache__/

how_to_build_it.txt

pgn2png/data/
pgn2png/imagefolder_dataset/
pgn2png/old/
parquet/
dataset/
token.txt